<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">
            <a href="/"><img src="https://www.flaticon.com/svg/vstatic/svg/1903/1903162.svg?token=exp=1618643420~hmac=74f9034430a23bf61eefb61819293ee9" alt="" height="55px" width="55x"></a>
        </label>
        <ul>
            <li> <a href="/books">Books</a> </li>
            <li> <a href="/books/new">Add Books</a> </li>
            <li> <a href="/users/register">Register</a> </li>
            <li> <a href="/users/login">Login</a> </li>
        </ul>
    </nav>

</header>