<header>
    <nav>
        <a href="/">University eLibrary</a>
        <ul>
            <li> <a href="/books">Books</a> </li>
            <li> <a href="/books/new">Add Books</a> </li>
            <li> <a href="/users/register">Register</a> </li>
            <li> <a href="/users/login">Login</a> </li>
        </ul>
    </nav>
</header>