<header>
    <nav>
        <a href="/">University eLibrary</a>
        <ul>
            <li> <a href="/books">Books</a> </li>
            <li> <a href="/books/new">Add Books</a> </li>
            <li> <a href="/users/register">Register</a> </li>
        </ul>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </nav>
</header>