<script>$(document).ready(function () {
        $('header').empty();
        $('footer').empty();
    });</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"

    <link rel="stylesheet" href="./src/app.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  

    <title>Search Books</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-size: 1em;
        }

        /* NAVBAR BEGIN*/
        nav {
            background-color: #011936;
            height: 82px;
            width: 100%;
        }

        label.logo {
            line-height: 80px;
            padding: 0px 80px;

        }

        nav ul {
            float: right;
            margin-right: 20px
        }

            nav ul li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
            }

                nav ul li a {
                    font-size: 17px;
                    color: white;
                    text-transform: uppercase;
                    padding: 7px 13px;
                    border-radius: 3px;
                }

                    a.active,
                    nav ul li a:hover {
                        background: #49cee8;
                        transition: 0.5s;
                        text-decoration: none;
                        color: white;
                    }

        .checkbtn {
            font-size: 30px;
            color: white;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }

        #check {
            display: none;
        }

        body {
            background: #F9DC5C;
        }

        .row {
            background: #f0f0f0;
            border-radius: 30px;
            box-shadow: 12px 12px 22px #465362;
        }

        img {
            border-radius: 15px;
        }

        @media (max-width: 2440px) {
            .grid-wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, minmax(100px, 200px));
                grid-gap: 1rem;
                grid-auto-flow: dense;
            }

            .grid-item {
                padding: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }


        @media (max-width: 858px) {
            .checkbtn {
                display: block;
            }

            ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #ED254E;
                top: 80px;
                left: -100%;
                text-align: center;
                transition: all .5s;
                z-index: 10;
            }


        @media (max-width: 952px) {
            label.logo {
                font-size: 30px;
                padding-left: 50px;
            }

            nav ul li a {
                font-size: 16px;
            }

            /* BOOKS DISPLAY*/

            .grid-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, minmax(100px, 200px));
                grid-gap: 1rem;
                grid-auto-flow: dense;
            }

            .grid-item {
                padding: 5rem;

                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        @media (max-width: 858px) {
            .checkbtn {
                display: block;
            }

            ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #ED254E;
                top: 80px;
                left: -100%;
                text-align: center;
                transition: all .5s;
                z-index: 10;
            }

            nav ul li {
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }

                nav ul li a {
                    font-size: 20px;
                }

            a:hover,
            a.active {
                background-color: none;
                color: darkslateblue;
            }

            #check:checked ~ ul {
                left: 0;
            }

            a:hover,
            a.active {
                background-color: none;
                color: darkslateblue;
            }

            #check:checked~ul {
                left: 0;
            }
        }

        /* NAVBAR END*/



        .btn1 {
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: #011936;
            color: white;
            border-radius: 4px;
            font-weight: bold;
        }
        .btn1:hover {
            background-color: #ED254E;
            border: 2px solid;
            color: rgb(0, 0, 0);
        }

    </style>
</head>

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">
        <a href="/dashboard"><img src="https://cdn.pixabay.com/photo/2016/01/23/16/02/book-1157658_1280.png" alt=""
                height="55px" width="55px"></a>
    </label>

    <ul>
        <li> <a href="/books">Search</a> </li>
        <li> <a href="/lgIndex">Browse</a> </li>
        <li> <a href="/borrows">Borrowed</a> </li>
        <li> <a href="/fines">Fines</a> </li>
        <li> <a href="/users/logout">Logout</a>> </li>
    </ul>
</nav>

<body>
    <section class="my-10 mx-10" style="padding-top: 10vh">
        <div class="container">
            <div class="no-gutters">
                <div>
                    <h2 style="font-family: 'Courier New', Courier, monospace;"> Borrowed Books </h2>
                </div>
                <div class="table-refresh" data-url="/bookData">
                </div>
            </div>
        </div>
    </section>
    <script src="./src/app.js"></script>

</body>


</html>