<p>Welcome <%= name %></p>
<body>
    <p>
        <a href="/fines">Fines</a>
    </p>
    <p>
        <a href="/borrows">Borrowed Books</a>
    </p>
    <p>
        <a href="/users/logout">Logout</a>
    </p>
</body>
