<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./src/app.css">
        <title>Fine's Table w/ Refresh</title>
    </head>
    <body>
        <div class="table-refresh" data-url="/data">
            <!--
            <table class="table-refresh__table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Book</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Danny</td>
                        <td>too nice</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>Danny</td>
                        <td>too nice</td>
                        <td>11</td>
                    </tr>
                </tbody>  
            </table>
            <div class="table-refresh__options">
                <span class="table-refresh__label">Last Update: never</span>
                <button type="button" class="table-refresh__button">
                    <i class="material-icons">refresh</i> 
                </button>
            </div>
             -->           
        </div>
        <script src="./src/app.js"></script>
    </body>
</html>